$color-gray: gray;
$color-white: white;
$color-button-hover: rgb(30, 31, 19);
$color-mainHeader-main: #9bece5de;
$color-mainHeader-main-second: #4898bdde;
$color-primary: #9bece5de;
//color for section
$color-grey-light-1:#f7f7f7;
$color-black: black;

//variables for grid
$grid-width:114rem;
$row-margin-vertical:8rem;
$col-margin-horizontal:6rem;

//font sizes
$default-font-size:1.6rem;

//card color
$color-card-light1: #28C9DE;
$color-card-dark1: rgb(96, 190, 202);
$color-card-light2: #76BDE5;
$color-card-dark2: rgb(121, 171, 184);
$color-card-light3:rgb(194, 228, 248); 
$color-card-dark3:rgb(127, 193, 238);   