.composition {
  position: relative;
  &__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all .2s;
    outline-offset: 1rem;
    &--p1 {
      left: 0;
      top: -2rem;
    }
    &--p2 {
      right: 0;
      top: 3rem;
    }
    &--p3 {
      left: 10%;
      top: 4rem;
    }
    &:hover{
        outline: 1rem solid $color-primary;
        z-index: 20;
        transform: scale(1.09) translateY(-1rem);
        box-shadow: 0 2.5rem 4rem rgba($color-black, 0.7);
    }
  }
  //this is to make the unslected image small
  &:hover &__photo:not(:hover){
      transform: scale(.85);
  }
  //composition:hover composition__phtot:not(:hover)
}
